<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head>
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript">
$(function() {
  var own_tag_from_cookie = $.cookie("own_tag");
  var jump_target = '#';
  if (own_tag_from_cookie === null) {
    jump_target = window.location.href + 'anon/';
  } else {
    jump_target = window.location.href + own_tag_from_cookie + '/';
  }
  window.location.href = jump_target;
});
</script>
<title>Dendrite Network Check For Own Tag</title>
</head>
<body>
<h1>Dendrite Network Check For Own Tag</h1>
Checking for own_tag cookie...
</body></html>
