{% extends "base.html" %}
{% macro tile(title, id) -%}
<div class="row"><div class="twelve columns" ><div id="{{ id }}" class="panel">
<h2>{{ title }}</h2>
{{ caller() }}
<br>
</div></div></div>
{%- endmacro %}
{% block extrahead %}
<script type="text/javascript" src="static/js/d3.min.js"></script>
<script type="text/javascript" src="static/js/d3.geom.min.js"></script>
<script type="text/javascript" src="static/js/d3.layout.min.js"></script>
<script type="text/javascript" src="/static/js/graphlog.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
{% call tile("Graph the Network", "tehnet") %}
<p>The pretty pretty data...
<div class="hull"></div>
<form>
<select id="meme_selector"></select>
</form>
{% endcall %}
{% endblock %}
