{% extends "base.html" %}
{% macro tile(title, id) -%}
<div class="row"><div class="twelve columns" ><div id="{{ id }}" class="panel">
<h2>{{ title }}</h2>
{{ caller() }}
<br>
</div></div></div>
{%- endmacro %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/controls.js"></script>
<script type="text/javascript">
$(function() {

  // Disable self-clicking of the bump URL.
  $('#buurl').find('.taggy').find("a").click(function() { return false; });

  $('#vtags').hide();

  function make_bump_url() {
    var from = $('div#own_tag_display').text();
    var what = $('div#prop_tag_display').text();
    var bumpy = 'http://denebii:5000/bump/' + from + '/' + what + '/';
    var bulink = $('#buurl').find('.taggy').find('a')
    bulink.text(bumpy);
    bulink.attr('href', bumpy);
  }

  $('#ururl').find('input:submit').button().click(function() {
    var urly = $('#own_url_id').val();
    if (urly != '') {
      $.post('{{ register_ajax }}',
        {'urly': urly},
        function (data) {
          tag = data.tag;
          note_own_tag(tag);
          note_own_url(urly);
          $('div#own_tag_display').text(tag);
          $('#own_url_id').effect('highlight', {}, 500);
          setted_own_url();
        });
    }
    return false;
  });

  $('#tagurl').find('input:submit').button().click(function() {
    var urly = $('#prop_url_id').val();
    if (urly != '') {
      $.post('{{ register_ajax }}',
        {'urly': urly},
        function (data) {
          tag = data.tag;
          $('div#prop_tag_display').text(tag);
          $('#prop_url_id').effect('highlight', {}, 500);
          make_bump_url();
        });
    }
    return false;
  });

  var own_tag_from_cookie = get_own_tag();
  if (own_tag_from_cookie != '') {
    $('div#own_tag_display').text(own_tag_from_cookie);
  }

  var own_url_from_cookie = get_own_url();
  if (own_url_from_cookie != '') {
    $('#own_url_id').val(own_url_from_cookie);
    setted_own_url();
  }

function setted_own_url() {
  var U = $('#ururl');
  U.find('h2').text('Your URL')
  U.find('input:submit').val('Update my URL')
}

});
</script>
{% endblock %}
{% block content %}


{% call tile("Pick Your URL", "ururl") %}
<p>When you make a meme to send to your people this URL will be used to represent you.
<form class="nice" method="POST" action="{{ register }}">
  <input id="own_url_id" name="own_url" type="text" maxlength="100" placeholder="http://" />
  <br/>
  <input type="submit" value="Use this URL for me."/>
</form>
{% endcall %}


{% call tile("Tag and Propagate", "tagurl") %}
<p>This is the URL of the meme you want to spread.
<form class="nice" method="POST" action="{{ register }}">
  <input id="prop_url_id" name="prop_url" type="text" maxlength="100" placeholder="http://" />
  <br/>
  <input type="submit" value="Propagate this URL."/>
</form>
{% endcall %}


{% call tile("Send This to Teh People!", "buurl") %}
<p>(Hint: right-click and select "Copy Link Location".)
<div class="taggy"><a href="#"></a></div>
<br/>
<p>Send this "bump" URL to your friends.  Use Twitter, email, pigeons, whatever...
Just get it to your friends and the network grows.
<br/>
{% endcall %}

{% call tile("View tags", "vtags") %}
  <div id="own_tag_display" class="taggy">no tag here yet... choose an URL above</div>
  <div id="prop_tag_display" class="taggy">no tag here yet... choose an URL above</div>
{% endcall %}
{% endblock %}

