{% extends "base.html" %}
{% macro tile(title, id) -%}
<div class="row"><div class="twelve columns" ><div id="{{ id }}" class="panel">
<h2>{{ title }}</h2>
{{ caller() }}
<br>
</div></div></div>
{%- endmacro %}
{% block extrahead %}
<script type="text/javascript">
$(function() {
});
</script>
{% endblock %}
{% block content %}

{% call tile("How It Works", "how") %}
<p>The Dendrite Network works by...
{% endcall %}

{% call tile("Your URL", "ownurl") %}
<p>If you want to participate directly in the network you must pick an
URL to represent yourself.  It can be any URL but if you want to be
contacted then it should obviously include some way of contacting you.
<p>Obvious candidates for avatar URLs would be your facebook or twitter
pages, your blog, your personal homepage, or a specific page you made to
use with the Dendrite Network.
<p>If you aren't concerned about being contacted then you can use a page
from the Wikipedia or something.
<p>(An important point to keep in mind concerning the Dendrite Network is
that you will generally only ever be exchanging memes with people you
know.
<p>All the people in your contacts should be known to you, and you
normally won't exchange information with unknown users.)

<hr>
<h4>Enter an URL</h4>
<form class="nice" method="POST" action="{{ register }}">
  <center>
  <input id="urly" type="text" name="urly" maxlength="100" size="80" placeholder="http://" />
  </center>
  <br/>
  <input type="submit" value="Give me a tag for this URL"/>
</form>
{% endcall %}

{% call tile("More...", "enfriendly") %}
<div class="row">
<div class="seven columns" >
  <a href="http://firequery.blogspot.com/">Read my blog for more info</a> or follow me on Twitter &gt;&gt;
</div>
<div class="five columns" >
  <center>
    <a href="https://twitter.com/SimonForman" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @SimonForman</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </center>
</div>
</div>
{% endcall %}
{% endblock %}

